**/build/
**/.vscode/
**/__pycache__/
**/log/
**/logs/
**/outputs/
**/install/
simulate/mujoco
*.pyc
*.o
*.a
*.so
*.bin
*.db
*.db-shm
*.db-wal
*.zip
.vscode/
*.hfield
*.usd
*.pack
events.out.tfevents.*
unitree_rl_lab.zip
unitree_rl_lab（实物部署）/
unitree_rl_lab（GO2参考）/
legbot_rl_lab/宇树onnx/
legbot_rl_lab/deploy参考/