[Unit]
Description=W1W CAN and CAN FD setup
Before=w1w-motor.service

[Service]
Type=oneshot
ExecStart=/usr/bin/test -e /sys/class/net/can0
ExecStart=/usr/bin/test -e /sys/class/net/can1
ExecStart=/usr/bin/test -e /sys/class/net/can2
ExecStart=/usr/bin/test -e /sys/class/net/can3
ExecStart=/usr/bin/test -e /sys/class/net/can4
ExecStart=/usr/bin/test -e /sys/class/net/can5
ExecStart=-/usr/sbin/ip link set can0 down
ExecStart=/usr/sbin/ip link set can0 type can bitrate 1000000 restart-ms 100 fd off
ExecStart=/usr/sbin/ip link set can0 txqueuelen 100
ExecStart=/usr/sbin/ip link set can0 up
ExecStart=-/usr/sbin/ip link set can1 down
ExecStart=/usr/sbin/ip link set can1 type can bitrate 1000000 restart-ms 100 fd off
ExecStart=/usr/sbin/ip link set can1 txqueuelen 100
ExecStart=/usr/sbin/ip link set can1 up
ExecStart=-/usr/sbin/ip link set can2 down
ExecStart=/usr/sbin/ip link set can2 type can bitrate 1000000 restart-ms 100 fd off
ExecStart=/usr/sbin/ip link set can2 txqueuelen 100
ExecStart=/usr/sbin/ip link set can2 up
ExecStart=-/usr/sbin/ip link set can3 down
ExecStart=/usr/sbin/ip link set can3 type can bitrate 1000000 restart-ms 100 fd off
ExecStart=/usr/sbin/ip link set can3 txqueuelen 100
ExecStart=/usr/sbin/ip link set can3 up
ExecStart=-/usr/sbin/ip link set can4 down
ExecStart=/usr/sbin/ip link set can4 type can bitrate 1000000 dbitrate 5000000 restart-ms 100 fd on
ExecStart=/usr/sbin/ip link set can4 txqueuelen 100
ExecStart=/usr/sbin/ip link set can4 up
ExecStart=-/usr/sbin/ip link set can5 down
ExecStart=/usr/sbin/ip link set can5 type can bitrate 1000000 dbitrate 5000000 restart-ms 100 fd on
ExecStart=/usr/sbin/ip link set can5 txqueuelen 100
ExecStart=/usr/sbin/ip link set can5 up
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
