[Unit]
Description=W1W CAN and CAN FD setup
Before=w1w-motor.service

[Service]
Type=oneshot
ExecStart=@PREFIX@/current/scripts/setup_can.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

